@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.cdnfonts.com/css/myriad-pro');

@font-face {
    font-family: 'myriad_proregular';
    src: url('../fonts/myriad_pro_regular-webfont.woff2') format('woff2'),
    url('../fonts/myriad_pro_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../fonts/caviar_dreams_regular-webfont.woff2') format('woff2'),
    url('../fonts/caviar_dreams_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../fonts/caviar_dreams_regular-webfont.woff2') format('woff2'),
    url('../fonts/caviar_dreams_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'myriad_proregular';
    src: url('../fonts/myriad_pro_regular-webfont.woff2') format('woff2'),
    url('../fonts/myriad_pro_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --rouge-fonce-color: #6a225a;
    --gris-bloc-maison-color: #e0dfdf;
    --gris-fonce-color: #3e3d4b;
    --gris-fond-bandeau1: #dcdcdc;
    --rouge-clair-color: #C60A19;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'caviar_dreamsregular';
}

.card {
    box-shadow: 1px 1px 15px rgb(175, 174, 174);
    box-sizing: border-box;
    background-color: var(--gris-bloc-maison-color);
    font-family: 'myriad_proregular';
}

.navbar {
    background-color: var(--rouge-clair-color);
}

h1,
h2 {
    font-weight: bold;
}

.accordion-button {

}

.grey {
    background-color: #e0dfdf;
}

.active {
    text-decoration: underline;
    color: white;
}

.banner-contact .col-2 {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.footer {
    margin: 0;
    padding: 0;
    background-image: url('../images-simply/fond-ville.jpg');
    background-size: 100% 100%;
    height: 600px;
}

.card-picture {
    object-fit: cover;
}

.mb-5 > .form-control {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.footer-content {
    height: 662px;
    width: 100%;
    background: url("../images-simply/fond-ville.jpg") bottom / cover no-repeat;
}

.footer-content-block {
    width: 80%;
    min-height: 300px;
    height: fit-content;
    margin-top: 100px;
    background-color: #eeeeee;
}

.banner-contact {
    background-color: var(--gris-fond-bandeau1);
}

#phoneButton {
    border: 1px solid #000;
}

#emailButton {
    border: 1px solid #000;
}

.swiper {
    width: 100%;
    height: 350px;
}

.swiper-slide {
    display: flex;
}
.swiper-slide  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fixed-btn {
    border-radius: 0;
}